
@{

}
<head>
    <!--INDEX PAGE /view/Home/Contact.cshtml-->

    <meta name="description" content="Contactez @ViewBag.Project pour expliquer votre projet.. réponse toujours en moins de 48h ">
</head>
  
       <h1>A REVOIR</h1>
        <!-- Services section end -->



